.o-7{
	/* opacity:0.7; */
	color: #2c2b2b;
}

.o-7:hover,.o-7:focus{
	/* opacity:0.9; */
	color: #2c2b2b;
}

.mw-400p{
	max-width:400px;
}

.w200p{
	max-width:200px;
	width:100%;

}

.btn-link-primary:hover,.btn-link-primary:focus{
	/* color:#007bff; */
}

.btn-link-secondary:hover,.btn-link-secondary:focus{
	/* color:#00dda3; */
}

.croppr-region{
	/* border-radius:50%; */
}

#image_file_gallery .modal-footer{
	justify-content: flex-start;
}

.file_gallery_container .file_gallery_img{
	cursor: pointer;
}

.file_gallery_container .file_gallery_img.selected{
	border: 4px solid #00dda3;
}
