/*Helpers*/
body{
	font-size:15px;
	color:#2c2b2b;

}

.home-wrapper{
	background-color: #f4f6f8;
}

.bordered {
	border: 2px solid #000;
	border-radius: 10px;
}

a.nav-link.active p {
    font-weight: 500;
}

body,a{
	/*color:#4b536b;*/
	color:#2c2b2b;
}

.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #3c66ff!important;
}
.icon-bar+.icon-bar {
    margin-top: 4px;
}

.blur-bg{
	position:absolute;
	top:0;
	left:0;
	-webkit-filter: blur(3px);
	filter: blur(3px);
}

.banner-overlay{
	width:100%;
	height:100%;
	background: rgba(18, 36, 77, 0.6);
}

.default-banner{
  background-image:url('../images/banner_4.jpg');
  width:100%;
  height:356px;
}

.home-title{
	font-size:25px;
	font-weight: 900;
	text-transform: uppercase;
}

.home-hr{
	border:3px solid black;
	width: 12%;
	margin-top:20px;
	margin-bottom:20px;
}


.hr-primary{
	margin: 0;
    border: 0;
    border-top: 4px solid #2f2f2f;
    display: inline-block;
}

.body-wrapper h1{
	font-size: 25px;
}

.body-wrapper h2{
  font-size: 23px;
}

.body-wrapper h3{
  font-size: 20px;
}

.body-wrapper h4{
  font-size: 16px;
}



.hbox{
	height:auto;
	padding:70px 0px;
}

.hbox.__fixed{
	height: 100%;
	min-height:350px;
	padding:0;
}


/*Header*/

.main-preloader {

    height: 100%;
    width: 100%;
    max-height: 100vh;
    max-width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background-color: white;

}

.header{
	background:rgba(255,255,255,0.85);
	height: 90px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999;
}

.header .header-logo{
	max-height: 70px;
	padding: 5px 0;
}

.header .list-inline > li > a{
	display: block;
	font-weight: 300;
	font-size:15px;
	padding: 5px 10px;
	-webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    border-radius: 3px;
}

.header .list-inline > li.current-menu-item > a:not(.primary-link):not(.green-link),.header .list-inline > li > a:not(.primary-link):not(.green-link):hover{
	/*color:#296af7;*/
}



/*Mobile*/
#mobile-menu li:hover,#mobile-menu li:focus,#mobile-menu li.current-menu-item{
	/*background-color:#e0e0e0;*/
}

/*Banner*/
.home-banner{
	/*background-image:url('../images/banner_1.png');*/
	width:100%;
	height:600px;
	min-height:500px;
}

.about-banner-text {
	width: 49vw;
}

.home-banner-overlay{
	width:100%;
	height:100%;

}

.secAbout {
	padding: 75px 0px;
}

.about_hbox {
    height: 520px!important;
}
/* Ipad Pro */
@media ( height: 1366px ) and ( width:1024px ) {
    .home-banner .home-banner-text {
        width: 47vw!important;
    }
    p.aboutBodycontent{
    	line-height: 3vh!important;
    }
    p.titleBoxGreen {
        font-size: 40px!important;
        line-height: 4vh!important;
    }
    p.titleBox {
        font-size: 40px!important;
        line-height: 4.5vh!important;
    }
    .screenDesktop {
        height: 25vh!important;
    }
    .about_hbox {
         padding: 0px!important;
    }
    p.aboutTitleBox {
        line-height: 3vh!important;
        margin-top: 30px!important;
    }
}
/* Ipad */
@media ( height: 768px ) and ( width:1024px ) {
    .home-banner .home-banner-text {
        width: 47vw!important;
    }
    p.aboutBodycontent{
    	line-height: 3vh!important;
    }
    p.titleBoxGreen {
        font-size: 40px!important;
        line-height: 4.5vh!important;
    }
    p.titleBox {
        font-size: 40px!important;
        line-height: 4.5vh!important;
    }
    .screenDesktop {
        height: 25vh!important;
    }
    .about_hbox {
         padding: 0px!important;
    }
    p.aboutTitleBox {
        line-height: 3vh!important;
        margin-top: 30px!important;
    }
    .about_hbox {
        height: 60vh!important;
    }
}
@media (max-width:320px){
    p.aboutTitle {
        line-height: 10vh!important;
    }
    p.aboutBody {
        line-height: 5vh!important;
    }
}

@media (max-width:400px){
    p.aboutTitle {
        line-height: 8vh!important;
    }
    p.aboutBody {
        line-height: 4vh!important;
    }
}
@media (max-width:800px){
	.secAbout {
		padding: 55px 0px;
	}

	.about_hbox {
	    /*padding: 70px 40px!important;*/
	}

	.about-banner-text {
		width: auto;
	}
    .about-banner.bg-cover {
	    height: 65vh;
	}

    p.titleBox, p.titleBoxGreen{
    	text-align: center;
    }
    p.bodyBox{
    	text-align: center;
    }

    /*.section-two {
    	padding: 0px 30px;
    }*/

    a.bodyBoxBtn {
	    margin: 0 auto;
    }
    .bodyNormal {
        padding: 0px 30px;
    }
    .screenDesktop {
        display: none!important;
    }

    .screenMobile {
        display: block!important;
        margin-top: -10vh;
    }

    .footerIntro {
        height: 30vh!important;
        padding-bottom: 30px;
    }
    .footerTitle {
        line-height: 3vh!important;
    }
    .footerBody {
        line-height: 3vh;
    }
    .footerBottom {
        margin-top: 10px!important;
    }
}


p.bannerTitle{
	font-size: 50px;
	font-weight: 300;
	line-height: 1vh;
	margin-bottom:40px;
	color:#fff
}
p.bannerBody{
	font-size: 17px;
	font-weight: 300;
	line-height: 3vh;
	color:#fff
}
p.aboutTitle{
	font-size: 50px;
	font-weight: 300;
	line-height: 6vh;
	margin-bottom:30px;
	color:#3B69EE
}
p.aboutBody{
	font-size: 17px;
	font-weight: 300;
	line-height: 3vh;
	color:#000
}

p.aboutTitleBox{
	font-size: 50px;
	font-weight: 300;
	line-height: 6vh;
	color:#3B69EE
}
p.aboutTitleGreen{
	font-size: 50px;
	font-weight: 300;
	line-height: 6vh;
	color:#23ad6f
}
p.aboutBodycontent{
	font-size: 20px;
	font-weight: 300;
	line-height: 3.5vh;
	margin-top: 20px;
}



p.titleBox{
	font-size: 50px;
	font-weight: 300;
	line-height: 6vh;
	color:#3B69EE
}
p.titleBoxGreen{
	font-size: 50px;
	font-weight: 300;
	line-height: 6vh;
	color:#23ad6f
}
p.bodyBox{
	font-size: 20px;
	font-weight: 300;
	line-height: 3.5vh;
	margin-top: 20px;
}
a.bodyBoxBtn {
    font-size: 17px;
    padding: 8px 10px;
}
.titleNormal {
    font-size: 40px;
    font-weight: 300;
}
.bodyNormal {
    font-size: 17px;
    font-weight: 300;
    line-height: 2.8vh;
}

.home-banner .home-banner-text{
	padding:30px 15px;
	background:rgba(255,255,255,0.8);
}
.screenMobile {
    display: none;
}
.screenDesktop {
    height: 40vh;
    display: flex;
    align-items: flex-end;
}



.home-banner .home-banner-text p.lg{
	font-size:40px;
}

/* SECTION 2 */
/*.section-two .home-section-blue hr{*/
/*	border:1px solid #296af7;*/
/*	width: 25px;*/
/*}*/

.blue-overlay{
	background-color:rgba(41,106,247,0.8);
}

.section-four .home-section-green hr{
	border:1px solid #00dda3;
	width: 25px;
}

.green-overlay{
	background-color:rgba(0,221,163,0.8);
}

/*Login*/
.home-login{
	background-image:url('../images/banner_2.jpg');
	/*background-color:#296af7;*/
	width:100%;
	height:100%;
	background-position: bottom center!important;
	z-index:-1;
}

/* How it works */
.home-hiw-img{
	height: 100px;
	display: flex;
    align-items: center;
    justify-content: center;
}
.home-hiw-img img{
	max-height: 100px;
}

/* Section 2 & Section 4 */
.section-left-img, .section-right-img{
	width: 100%;
	position: relative;
}


/*Footer*/
.footer {
    background: #222946;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
}
.footer a {
    color: #fff;
}
.footer .list-inline-item:not(:last-child){
    border-right: 1px solid #fff;
    padding-right: 10px;
}
.footerIntro {
    height: 30vh;
    border-bottom: 1px solid #393f59;
}
.footerTitle {
    font-size: 50px;
    font-weight: 300;
    line-height: 2vh;
}
.footerBody {
    font-size: 25px;
    font-weight: 300;
    padding: 15px 0px;
}

.footerBottom {
    margin-top: 30px;
}

.footer .footer-sitemap a{
	-webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
	margin-bottom: 5px;
	display: block;
	color:white;
	opacity: 0.5;
}
.footer .footer-sitemap a:hover,.footer .footer-sitemap a:focus{
	opacity: 1;
}

.footer .social-link{
	opacity: 0.5;
}

.footer .footer-sm a:hover .social-link{
	opacity: 1;
}

.footer #contact-form-id input:not([type="submit"]),.footer #contact-form-id textarea{
    background: transparent;
    border: 2px solid #696969;
    padding: 10px 15px;
    font-size: 14px;
    width: 90%;
    margin-bottom: 15px;
    color: white;
}




/*MEDIA QUERY*/
@media only screen and (max-width: 600px) {
	.banner-mobile{
		padding-right: 45px!important;
		padding-left: 45px!important;
	}
	.footer {
		text-align: center;
	}
}
@media(max-width:992px) {
	.about-banner.bg-cover {
	    height: 65vh;
	}
}
@media (min-width:992px){

	.section-left-img{
		left: 0;
	}


	.home-banner .home-banner-text{
		background:rgba(255, 255, 255, 0.85);
	    padding: 40px 40px;
	    width: 27vw;
	}


	.fs-18{
		font-size:18px;
	}

	.header .list-inline > li > a{
		font-size:17px;
		padding: 8px 10px;
	}


	.home-banner{
		height:750px;
	}
	.about-banner{
		height:550px;
	}

	.body-wrapper h1{
	    font-size: 2.5rem;
	}

	.body-wrapper h2{
	font-size: 2rem;
	}

	.body-wrapper h3{
	font-size: 1.75rem;
	}

	.body-wrapper h4{
	font-size: 1.5rem;
	}

	.white-link,.primary-link,.blue-link,.green-link,.red-link{
	    padding: 10px 5px;
	}

	.home-title{
		font-size:30px;
	}

	.hni-text {
		padding: 0 30px;
		padding-bottom: 30px;
	}

	.home-news .owl-prev img,.home-news .owl-next img{
		height: auto;
	}


	.home-news .owl-item:not(.center){
	    -webkit-transform: scale(0.8);
	    -ms-transform: scale(0.8);
	    -moz-transform: scale(0.8);
	    transform: scale(0.8);
	}

	.footer .home-title{
		font-size:28px;
	}
	.footer .footer-contact,.footer .footer-sitemap{
		height: 100%;
	}

	.hbox,.hbox.__fixed{
		height:600px;
		padding:0;
	}

	.hbox_about {
		height:600px;
	}
	.hbox_mv {
		height:600px;
	}


}

@media (min-width:768px){
	.section-left-img, .section-right-img{
		width: 50%;
		position: absolute;
	}

	.section-right-img{
		right: 0;
	}

	.section-two .home-section-blue .home-section-blue-text,.section-four .home-section-green .home-section-green-text{
		width: 80%;
	}
}
